.body{
  display: flex;  
}

.prueba2 {
  display: block;
}
/* esto son los stylos de la barra navegación*/
.main-nav {
    display: flex;
    background: rgb(121, 120, 136);
    color: white;
    border-radius: 3px;
    padding: 10px;
    font-family:  url('https://fonts.googleapis.com/css2? family= Kanit:ital,wght@1,100 & family= Noto+Sans:ital,wght@1,300 & display=swap');
    /* estos son los stylos del listado de la barra nav*/

  }
  .main-nav > ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex:auto;
   
    
 
  }
 .contenedor{

  display:flex

 } 
  .main-nav li {
    margin-left: 240px;
   
  }
 
/* esto son los stylos del contenedor - parrafo*/
  .flex-container >p {
    display: flex;
    flex-basis: auto;
   
    flex-direction: row;
    background-color: rgb(239, 232, 245);
    justify-content:flex-end;
    font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 15px;
  }
/* Esto es el stylo del contenedor Experiencia*/
 .flexExperiencia {
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 232, 245);
    flex-grow: 1;

 }
 /* Esto es el stylo del contenedor Formación*/
.flexformación {

    display: flex;
    flex-direction: column;
    padding: auto;
    background-color: rgb(239, 232, 245);
   flex-grow: 1;
    

}


 /* Estos son los stylos del bloque de fotos */
.container{
  display:flex;
  justify-content:flex-start;
  
}

/* esto son los stylos de los bloques*/
.prueba{
  display:block;
}

.prueba3{

  display:block;
}

/* Css del footer */
.footer {
  padding: 2px;
  text-align: left;
  /* background: rgb(121, 120, 136);*/
  margin-top: 5px;
}
.imagen{

  text-align: center;
 /* background: rgb(121, 120, 136);*/
}

input:invalid {
  border: 2px solid rgb(22, 21, 21);
  background-color:rgb(248, 31, 175);
}
.flex-container{
  display: flex;
  flex-direction: row;
}
.flex-container  {
  background: rgb(228, 228, 234);
  margin: 10px;
  text-align: left;
  font-size: 12px;
  gap: 400px;
}

